@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --move-duration: 300ms;
}

body {
  align-items: center;
  background: black;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  user-select: none;
}

img {
  image-rendering: pixelated;
}

.launcher {
  background: linear-gradient(180deg, rgb(32, 2, 86) 0%, rgb(61, 18, 99) 20%, rgb(106, 55, 107) 40%, rgb(61, 18, 99) 70%, rgb(37, 3, 82) 100%);
  color: white;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-family: "Press Start 2P", monospace;
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 200%;
  width: 200%;
  transform: scale(0.5);
}

@media (min-width: 960px) and (min-height: 540px) {
  .launcher {
    height: 100%;
    width: 100%;
    transform: scale(1);
  }
}

@media (min-width: 1920px) and (min-height: 1080px) {
  .launcher {
    height: 50%;
    width: 50%;
    transform: scale(2);
  }
}

.button-fullscreen {
  background: black;
  cursor: pointer;
  height: 50px;
  position: absolute;
  right: 0px;
  top: 0;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.2;
  transition: opacity 0.25s, background 0.25s;
}

.button-fullscreen:hover {
  opacity: 0.4;
  background: #fff;
  color: #ff0000;
}

.button-fullscreen:hover .full-screen-icon:before, .button-fullscreen:hover .full-screen-icon:after {
  background: white;
}

.button-previous {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 365px;
  max-width: 30%;
  cursor: pointer;
  opacity: 0;
  background: linear-gradient(90deg, #ffffff22, transparent);
  transition: opacity 0.5s;
}

.button-previous:hover {
  opacity: 1;
}

.button-next {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 365px;
  max-width: 30%;
  cursor: pointer;
  opacity: 0;
  background: linear-gradient(-90deg, #ffffff22, transparent);
  transition: opacity 0.5s;
}

.button-next:hover {
  opacity: 1;
}

.games {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: visible;
}

.game {
  border-radius: 14px;
  border: 2px solid black;
  box-shadow: inset -2px -2px 0 0 #747474, inset 0 -2px 0 0 #747474, inset -2px 0 0 0 #747474,
  inset 2px 2px 0 0 white, inset 0 2px 0 0 white, inset 2px 0 0 0 white,
  inset -2px -2px 0 2px white, inset 0 -2px 0 2px white, inset -2px 0 0 2px white,
  inset 2px 2px 0 2px #747474, inset 0 2px 0 2px #747474, inset 2px 0 0 2px #747474,
  inset 0 0 0 6px black;
  padding: 6px;
  height: 208px;
  opacity: 0.25;
  text-decoration: none;
  width: 192px;
  margin: 10px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game#selected {
  cursor: pointer;
  opacity: 1;
}

.game.incomplete {
  opacity: 0.125;
  position: relative;

  &:before {
    content: 'Under Construction';
    background-image: linear-gradient(45deg, #000000 25%, #ffff00 25%, #ffff00 50%, #000000 50%, #000000 75%, #ffff00 75%, #ffff00 100%);
    background-size: 56.57px 56.57px;
    box-shadow: 2px 2px 2px black, -2px -2px 2px black;
    color: white;
    font-size: 12px;
    height: 40px;
    line-height: 20px;
    position: absolute;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black;
    width: 192px;
  }
}

.game-image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.game-image img, .game-image .image-placeholder {
  width: 176px;
  height: 160px;
}

.image-placeholder {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-details {
  background: black;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top: 2px solid #727272;
  height: 32px;
  width: 100%;
  position: relative;
  flex-shrink: 0;
}

.game-controls {
  position: absolute;
  height: 18px;
  left: 8px;
  top: 6px;
}

.game-controls img {
  margin-right: 4px;
  height: 18px;
}

.game-players {
  color: white;
  background: #727272;
  border-radius: 6px;
  font-size: 16px;
  position: absolute;
  height: 22px;
  top: 4px;
  right: 4px;
  padding: 4px 6px 2px 6px;
}

.move-previous {
  animation-name: move-previous;
  animation-duration: var(--move-duration);
  animation-timing-function: ease-out;
}

@keyframes move-previous {
  from {
    transform: translateX(-180px)
  }
  to {
    transform: translateX(0)
  }
}

.move-next {
  animation-name: move-next;
  animation-duration: var(--move-duration);
  animation-timing-function: ease-out;
}

@keyframes move-next {
  from {
    transform: translateX(180px)
  }
  to {
    transform: translateX(0)
  }
}

header {
  background: #a2a2a2;
  border-bottom: 2px solid black;
  height: 72px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.instructions {
  background: #b1b1b1;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  bottom: 0;
  box-shadow: inset 0 -2px 0 0 #4d4d4d, inset 0 0 0 2px #c8c8c8, 0 -2px 0 0 #4d4d4d, 0 -4px 0 0 #6e6e6e;
  height: 52px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  z-index: 2;
}

.instructions img {
  position: relative;
  top: 2px;
  height: 46px;
}

footer {
  background: #b8b8b8;
  border-top: 2px solid black;
  bottom: 0;
  height: 72px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

.f0 {
  background-color: #4d4d4d;
  border-radius: 0 0 8px 8px;
  height: calc(100% - 6px);
  width: 100%;
  overflow: hidden;
  padding-bottom: 2px;
  position: relative;
  box-shadow: 0 2px 0 0 #a2a2a2;
}

.f1 {
  background-color: #6e6e6e;
  border-radius: 0 0 8px 8px;
  height: 100%;
  padding-bottom: 2px;
}

.f2 {
  background-color: #868686;
  border-radius: 4px 4px 8px 8px;
  height: 100%;
  padding-bottom: 2px;
}

.f3 {
  background-color: #9d9d9d;
  border-radius: 4px 4px 8px 8px;
  height: 100%;
  padding-bottom: 4px;
}

.f4 {
  background-color: #b8b8b8;
  border-radius: 4px 4px 8px 8px;
  height: 100%;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.f5 {
  background-color: #d0d0d0;
  border-radius: 4px 4px 8px 8px;
  height: 100%;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 2px;
}

.f6 {
  background-color: #b8b8b8;
  border-radius: 0 0 8px 8px;
  height: 100%;
  padding-bottom: 4px;
  padding-left: 2px;
  padding-right: 2px;
  border-top: 2px solid #f5f5f5;
}

.h-lines,
.f-lines {
  position: absolute;
  top: -2px;
  left: 56px;
  right: 56px;
  border-left: 2px solid #4d4d4d;
  border-right: 2px solid #4d4d4d;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.2), inset 0 0 0 2px rgba(255, 255, 255, 0.2);
  height: calc(100% + 4px);
}

.logo {
  position: absolute;
  top: 4px;
  height: 40px;
  left: 64px;
  pointer-events: none;
}

.game-title {
  border-radius: 12px;
  color: #727272;
  font-size: 18px;
  left: 72px;
  margin: auto;
  padding: 6px 12px;
  position: absolute;
  right: 72px;
  top: 10px;
  width: 500px;
}
